<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<div class="alert alert-info" role="alert">
					<h1>About</h1>
					<p>This is the last hw assignment for the OneMonth Python course. </p>
					<p>This app tells you the 3 best brunch spots near you </p>
				</div>
				<a href="{{ url_for ('index') }}">Home</a>
			</div>
		</div>
	</body>
</html>