<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>About</h1>
				<p>This is the last hw assignment for the OneMonth Python course. </p>
				<p>We tell you where are the best al fresco dining spots near you </p>
				<p>(and if the weather is crappy, we'll tell you who has the best indoor seating near you!).</p>
				<a href="{{ url_for ('index') }}">Home</a>
			</div>
		</div>
	</body>
</html>