<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				{% if addresstorender %}
					<div class="alert alert-success" role="alert">
						<h1 class="alert-heading">Here are the top 3 places in {{ addresstorender }}!</h1>
						<p> </p>
						<p class="m-b-0">1) {{ businesses[0] }}</p>
						<p> </p>
						<p class="m-b-0">2) {{ businesses[1] }}</p>
						<p> </p>
						<p class="m-b-0">3) {{ businesses[2] }}</p>
					</div>
				{% else%}
					<div class="alert alert-info" role="alert">
						<h1>Wanna dine al fresco?</h1>
						<form action="/" class="form-inline">
							<div class="form-group">
								<input type="text" name="addresstorender" placeholder="enter your location" class="form-control">
								<input type="submit" value="Submit" class="btn btn-primary">
							</div>
						</form>
					</div>
				{% endif %}
				<a href="{{ url_for ('about') }}">About this project</a>
			</div>
		</div>
	</body>
</html>